@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

body {
    padding-top: 60px; /*50+10px*/
    padding-bottom: 20px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F8F8F8;
    border: solid #E7E7E7;
    border-top-width: 1px;
}

footer .container p {
    margin-bottom: 0;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}

.error-actions .btn {
    margin-right:10px;
}

.vertical-center {
    height:100%;
    width:100%;
    text-align: center;
}

.vertical-center:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vertical-center > .container {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

#navbar-login {
    min-width: 250px;
    padding: 15px 15px 0px;
}

#form-login .panel-body {
    padding-bottom: 0px;
}

/** PieTimer CSS */
.box .space {
    height: 30px;
}

.right-corner {
    position: absolute;
    top: 70px;
    right: 5px;
}

.left-corner {
    position: absolute;
    top: 70px;
    left: 5px;
}

.mycheckbox {
    display: inline-block;
}

.pietimer {
    position:relative;
    font-size: 200px;
    width:1em;
    height:1em;
    float: left;
}

.vertical-center > .container {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

.right-corner > a{
    padding: 6px 8px;
    color: black;
}

.box > .icon {
    text-align: center;
    position: relative;
}

.box > .icon > .image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 88px;
    height: 88px;
    border: 8px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: #63B76C;
    vertical-align: middle;
}

.box > .icon:hover > .image {
    background: #333;
}

.box > .icon > .image > i {
    font-size: 36px !important;
    color: #fff !important;
    top: 27%;
}

.box > .icon:hover > .image > i {
    color: white !important;
}

.box > .icon > .info {
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid #e0e0e0;
    padding: 15px 0 10px 0;
}

.box > .icon:hover > .info {
    background: rgba(0, 0, 0, 0.04);
    border-color: #e0e0e0;
    color: white;
}

.box > .icon > .info > h3.title {
    font-family: "Roboto",sans-serif !important;
    font-size: 16px;
    color: #222;
    font-weight: 500;
}

.box > .icon > .info > p {
    font-family: "Roboto",sans-serif !important;
    font-size: 13px;
    color: #666;
    line-height: 1.5em;
    margin: 20px;
}

.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
    color: #222;
}

.box > .icon > .info > .more a {
    font-family: "Roboto",sans-serif !important;
    font-size: 12px;
    color: #222;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.box > .icon:hover > .info > .more > a, .box > .icon:hover > .right-corner > a, .box > .icon:hover > .left-corner > a {
    color: #fff;
    padding: 6px 8px;
    background-color: #63B76C;
}

.box > .icon:hover > .info > .form {
    color: black;
}

.box > .icon > .info > .form {
    color: #666;
}

.box > .icon:hover > .info > form > fieldset > fieldset > .btn {
    background-color: #333;
    border-color: #333;
}

.box > .icon > .info > form > fieldset > fieldset > .form-group > .form-group > .controls > .checkbox  > label, .box > .icon > .info > form > fieldset > fieldset > .form-group > .form-group > .controls > .radio > .radio{
    display: inline-block;
    margin: 0px;
}

.pietimer > .percent {
    position: absolute;
    top: -0.5em;
    left: 0;
    width: 3.5em;
    font-size: 0.23em;
    text-align:center;
    display: none;
}

.pietimer > .slice {
    position:absolute;
    width:1em;
    height:1em;
    clip:rect(0px,1em,1em,0.4em);
}

.pietimer > .slice.gt50 {
    clip:rect(auto, auto, auto, auto);
}

.pietimer > .slice > .pie {
    border: 0.1em solid #c0c0c0;
    position:absolute;
    width:0.8em; /* 1 - (2 * border width) */
    height:0.8em; /* 1 - (2 * border width) */
    clip:rect(0em,0.4em,1em,0em);
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em;
    border-radius:0.5em;
}

.pietimer > .slice > .pie.fill {
    -moz-transform:rotate(180deg) !important;
    -webkit-transform:rotate(180deg) !important;
    -o-transform:rotate(180deg) !important;
    transform:rotate(180deg) !important;
}

.pietimer.fill > .percent {
    display: none;
}

.pietimer.fill > .slice > .pie {
    border: transparent;
    background-color: #c0c0c0;
    width:1em;
    height:1em;
}

#timer {
    margin: 4px;
    width: 80px;
}
    /** Customization */
    .box > .icon:hover > .info > .more > span , .box > .icon:hover > .right-corner > span, .box > .icon:hover > .left-corner > span {
        color: #fff;
        padding: 6px 8px;
        background-color: #63B76C;
    }

    .box > .icon:hover > .info > .more > .invalid, .box > .icon:hover > .right-corner > .invalid, .box > .icon:hover > .left-corner > .invalid {
        background-color: #d2322d;
    }
    /* Customization **/
/* PieTimer CSS **/
